@font-face {
    font-family: "Roboto Slab";
    src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", monospace;
    background-color: #7dafff;
    color: #ffffff;
    font-size: 45px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
